@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$font-stack: Helvetica, sans-serif;
$primary-color: white;
$secondary-color: #c1a147;
$primary-background: #c1a147;
$secondary-background: rgb(82, 81, 79);
$primary-border: #c1a147;

$font-stack: 'Oswald', sans-serif;
$radius: 15px;
$title-font: 2.5rem;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin wide-size {
  position: relative;
  width: 100%;
  height: 3vh;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-stack;
}

.Main {
  background-color: rgb(219, 219, 219);
  font-family: $font-stack;
  min-height:100vh;
  width: 100%;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  @include flex-center;

  input[type="text"] {
    @include wide-size;
    width: 98%;
    background-color: $secondary-background;
    font-size: 1rem;
    font-weight: bold;
    padding: 4px 0 1px 5px;
    border: 2px solid $secondary-background; 
    border-radius: 5px;

    &:focus {
      border: 2px solid $primary-border;
      outline: none;
    }
  }
  input[type="text"]::placeholder {
    color:$primary-color;
    opacity: 0.7;
  }
  button {
    border:0;
    height: 72px;
    @include flex-center();
    flex-direction: row;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  a {
    color:gray;
    text-decoration:underline;
    margin-left:5px;
    cursor: pointer;
  }


  &__Container {
    min-height:75vh;
    width: 76%;
    position: relative;
    &__Cards{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      overflow: auto;
      gap:0px;
      &__RewardCard {
        position: relative;
        height: 288.36px;
        width: 212.22px;
        background-color: $secondary-background;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom:60px;
        img {
          max-width: 100%;
          height:100%;
          object-fit: contain;
          overflow: hidden;
          z-index: 2;
        }
        &--Name {
          position:absolute;
          background: linear-gradient(
            to bottom,
            rgba(193,161,71, 0.99),
            rgba(193,161,71, 0)  
          );
          z-index: 3;
          width: 100%;
          height:60px;
          top:0;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-weight: bold;
          color:$primary-color
        }
        &--TraderImage {
          position: absolute;
          width:20%;
          bottom:-5px;
          left:0;
          z-index: 3;
        }
        &--Level{
          position: absolute;
          bottom:0;
          right:0;
          width: 42px;
          height:40px;
          background-color: $primary-background;
          display: flex;
          justify-content: center;
          align-content: center;
          z-index: 3;
        }
        &--Background {
          position: absolute;
          height:100%;
          width: 100%;
          img{
            width: 100%;
            height: 100%;
          }
        }
        &__RequireCard {
          position: absolute;
          width: 100%;
          height:100%;
          z-index: 3;
          &--Box {
            position: absolute;
            height:25%;
            width: 100%;
            background-color: $primary-background;
            border-radius: 10px 10px 0 0;
            border-top:3px solid $primary-color;
            bottom:0;
            display: flex;
            font-weight: bold;
            cursor: pointer;
            &--Image {
              height:98%;
              width: 60px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            &--Image img {
              width: 100%;
              height:100%;
            }
            &--Text {
              width: 70%;
              height:98%;
              position: relative;
              color:$primary-color;
              &--Amount {
                position: absolute;
                bottom:5%;
                right:0;
              }
            }
            &:nth-child(1) {
              bottom:0%;
              z-index: 15;
            }
            &:nth-child(2) {
              bottom:23%;
              z-index: 14;
            }
            &:nth-child(3) {
              bottom:46%;
              z-index: 13;
            }
            &:nth-child(4) {
              bottom:69%;
              z-index: 12;
            }
            &:nth-child(5) {
              bottom:92%;
              z-index: 11;
            }
          }
          
        }

      }
    }

  }
  &__Settings {
    color:$primary-color;
    height:20vh;
    width: 95%;
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: flex-start;
    &__Search {
      display: flex;
      flex-direction: column;
      height:20vh;
      justify-content: center;
      width: 100%;
      &__Bar {
        margin-top:20px;
        width: 470px;
        &--text{
          color:$secondary-color;
        }
      }
    }
    &__Traders {
      display: flex;
      flex-direction: column;
      height:20vh;
      justify-content: flex-start;
      margin-top:6px;
      font-weight: bold;
      &__Text {
        color:$secondary-color;
        display: flex;
        &--LvlText {
          margin-right:235px;
        }
      }
      &__Level {
        display: flex;
        gap:10px;
        margin:10px 0;
        &--box {
          width: 50px;
          height:50px;
          background-color: $secondary-background;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          cursor:pointer;
          img{
            height: 36px;
            width: 36px;
            object-fit: contain;
          }
          
        }
        &--boxSelected {
          width: 44px;
          height: 44px;
          background-color: $secondary-background;
          border:3px solid $primary-border;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          cursor:default;
          img {
            width: 36px;
            height:36px;
            object-fit: contain;
          }
        };
        &--box1 {
          width: 50px;
          height:50px;
          background-color: $secondary-background;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          cursor:pointer;
          img{
            height: 30px;
            width: 30px;
          }
        }
        &--boxSelected1{
          width: 44px;
          height: 44px;
          background-color: $secondary-background;
          border:3px solid $primary-border;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          cursor:default;
          img {
            width: 30px;
            height:30px;
          };
        };
        &--Category {
          display: flex;
          gap:10px;
          height:55px;
          &--box {
            width: 44px;
            height: 44px;
            background-color: $secondary-background;
            border: 3px solid $secondary-background;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            cursor: pointer;
          }
          &--boxSelected {
            width: 44px;
            height:44px;
            background-color: $secondary-background;
            border:3px solid $primary-border;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            cursor:default;
          }
          &--box1{
            width: 44px;
            height: 44px;
            background-color: $secondary-background;
            border: 3px solid $secondary-background;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            cursor: pointer;
            img{
              width: 30px;
              height:30px;
            }
          }
          &--boxSelected1 {
            width: 44px;
            height:44px;
            background-color: $secondary-background;
            border:3px solid $primary-border;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            cursor:default;
            img{
              width: 30px;
              height:30px;
            }
          }
        }
      }
      &--TraderText {
        color:$secondary-color;
      }
      &__Trader {
        display: flex;
        gap:10px;
        margin-top:10px;
        &--box {
          background-color: $secondary-background;
          padding: 7px 10px;
          border-radius: 5px;
          cursor: pointer;
        }
        &--boxSelected{
          background-color: $secondary-background;
          padding: 4px 7px;
          border:3px solid $primary-border;
          border-radius: 5px;
          cursor:default;
        }
        &__SearchBar {
          width: 300px;
          max-height:36px;
        }
      }
    }
    &__Timer {
      display: flex;
      flex-direction: column;
      height:20vh;
      justify-content: center;
      &__boxes {
        display: flex;
        gap:10px;
        margin-top:18px;
        &--box1 {
          background-color: gray;
          width: 115px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px 10px;
        }
        &--box2 {
          background-color: gray;
          width: 135px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px 10px;
        }
        &--box3 {
          background-color: gray;
          width: 105px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px 10px;
        }
        &--box4 {
          background-color: gray;
          width: 165px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 7px 10px;
        }
        &--box5 {
          background-color: gray;
          width: 140px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 7px 10px;
        }
        &--box6 {
          background-color: gray;
          width: 130px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 7px 10px;
        }
        &--box7 {
          background-color: gray;
          width: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 7px 10px;
        }
      }
    }
  }
}